alabaster==0.7.12
certifi==2021.10.8
future==0.18.2
pockets==0.9.1
six==1.16.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-matlabdomain==0.13.0
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
